h1{
    font-size: 50px;
    color: blue;
    text-align: center;
    margin-top:20%;
}
button{
    padding: 1rem;
    color: blueviolet;
    font-size: 50px;
    background-color: blanchedalmond;
    align-items: center;
    margin-left: 40%;
}